<div id="recent-donation-cards">

  <div class="card-deck-wrapper">
    <div class="card-deck">
      
      <% @donations[2..4].each do |donation| %>
        <div class="card">
          <div class="card-img-top">
            <div class="embed-responsive embed-responsive-16by9">
              <%= render 'loading' %>
              <iframe src="https://www.youtube.com/embed/<%= donation.youtube_video_id %>" allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-block">
            <h4 class="card-title"><%= donation.artist_name %><br>
              <% unless donation.request %>
                <span class="amount">$<%= amount(donation.amount) %></span>
              <% end %>
            </h4>
            <p class="card-text"><%= donation.comment %></p>
            <p class="card-text">
              <small class="text-muted">
                <%= local_relative_time(donation.created_at, type: 'time-or-date') %> by <span class="link-blue">Ryan Jelks</span><br>
                <i class="fa fa-thumbs-up"></i> <%= rand(10) %>
                <i class="fa fa-thumbs-down"></i> <%= rand(3) %>
                <i class="fa fa-usd"></i> <%= rand(3) %>
                <i class="fa fa-comment"></i> <%= rand(5) %>
              </small>
            </p>
          </div>
        </div>
      <% end %>

    </div>
  </div>

</div>