<div id="recent-donation-cards">

  <div class="card-deck-wrapper">
    <div class="card-deck">
      
      <div class="card">
        <div class="card-img-top">
          <div class="embed-responsive embed-responsive-16by9">
            <%= render 'loading' %>
            <iframe src="https://www.youtube.com/embed/uJTLskJmitE" allowfullscreen></iframe>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title">Crossing the Rubicon<br><span class="amount">$10</span></h4>
          <p class="card-text">Crossing the Rubicon is textural and deep in its sonic sphere. Always tip-toeing on the edge of fantasy and surrealism, the creative source is always journey-like. There are conceptual ideas and a vision that kind of melded together inside the body of a progressive-metal sound.</p>
          <p class="card-text">
            <small class="text-muted">
              <%= local_time_ago Time.new(2016, 5, 30, 13) %> by <span class="link-blue">Ryan Jelks</span><br>
              <i class="fa fa-thumbs-up"></i> 8
              <i class="fa fa-thumbs-down"></i> 0
              <i class="fa fa-usd"></i> 2
              <i class="fa fa-comment"></i> 0
            </small>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-img-top">
          <div class="embed-responsive embed-responsive-16by9">
            <%= render 'loading' %>
            <iframe src="https://www.youtube.com/embed/znjLSW8kfBM" allowfullscreen></iframe>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title">Fallujah</h4>
          <p class="card-text">You don't want to miss them on tour with The Black Dahlia Murder. Easily one of the best shows of the year.</p>
          <p class="card-text">
            <small class="text-muted">
              <%= local_time_ago Time.new(2016, 5, 27, 19) %> by <span class="link-blue">Jason</span><br>
              <i class="fa fa-thumbs-up"></i> 0
              <i class="fa fa-thumbs-down"></i> 0
              <i class="fa fa-usd"></i> 0
              <i class="fa fa-comment"></i> 0
            </small>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-img-top">
          <div class="embed-responsive embed-responsive-16by9">
            <%= render 'loading' %>
            <iframe src="https://www.youtube.com/embed/Tc8aid6N5YY" allowfullscreen></iframe>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title">Aegaeon</h4>
          <p class="card-text">Thank you for playing an epic set in front of 10 people.</p>
          <p class="card-text">
            <small class="text-muted">
              <%= local_time_ago Time.new(2016, 5, 23) %> by <span class="link-blue">Alex P.</span><br>
              <i class="fa fa-thumbs-up"></i> 5
              <i class="fa fa-thumbs-down"></i> 1
              <i class="fa fa-usd"></i> 1
              <i class="fa fa-comment"></i> 3
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>