<div class="intro container">
  <% content_for :meta_description do %>
    <meta name="Description" content="A place where fans can make money by recommending music, and artists can get paid for making it." />
  <% end %>

  <div id="jumbotron" class="row">
    <div class="col-xs-0 col-md-1 col-lg-2"></div>
    <div class="col-xs-12 col-md-10 col-lg-8 text-xs-center">
      <span class="display-name">Ryan Jelks</span> donated <span class="dollar">$</span><span class="amount"><%= amount(@donations.first.amount) %></span> to <span class="artist-name">The Approach and The Execution</span> <%= local_time_ago Time.now %><br><br>
      <div>
        <%= render 'loading' %>
        <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=391401427/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://theapproachandtheexecution.bandcamp.com/album/kings-among-runaways">Kings Among Runaways by The Approach And The Execution</a></iframe>
      </div>
    </div>
    <div class="col-xs-0 col-md-1 col-lg-2"></div>
  </div> 

  <%= render 'intro_cards' %>
</div>

<div class="latest-donation-request">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <center>
          <p class="lead">Latest Donation Request</p>
          <h1 class="artist"><%= @donations.second.artist_name %></h1>
          <div class="embed-responsive embed-responsive-16by9">
            <%= render 'loading' %>
            <iframe src="https://www.youtube.com/embed/<%= @donations.second.youtube_video_id %>" allowfullscreen></iframe>
          </div>
          <div class="fan"><small class="text-muted"><%= local_time_ago Time.now %> by Ryan Jelks</small></div>
        </center>
      </div>
    </div>
  </div>
</div>

<div class="recent-donations-requests">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <center>
          <p class="lead">Recent Donations &amp; Requests</p>
        </center>
          <%= render 'recent_donation_cards' %>
      </div>
    </div>
  </div>
</div>

<div class="featured-podcast">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <center>
          <p class="lead">Featured Podcast</p>
          <h1 class="name">Headbanging Honkeys</h1>
          <div class="embed-responsive embed-responsive-16by9">
            <%= render 'loading' %>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/269325592&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
          </div>
        </center>
      </div>
    </div>
  </div>
</div>
