<!DOCTYPE html>
<html>
  <head>
    <title>Repay Music</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= yield :meta_description %>
  </head>

  <body>
    <div class="main container-fluid">
      <div class="collapse" id="exCollapsingNavbar">
        <div class="bg-inverse p-a-1">
          <h4>Thanks for checking us out!</h4>
          <span class="text-muted">Stay tuned.</span>
        </div>
      </div>

      <div class="header-main-wrapper">
        <header>
          <nav class="navbar navbar-full navbar-dark bg-inverse">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
              &#9776;
            </button>
            <a class="navbar-brand" href="#"><span class="r">r</span>\m/ <span class="repay">Repay</span> Music</a>
            <span class="coming-soon">&nbsp;&nbsp;COMING SOON</span>
            <div class="navlinks">
              <a href="https://www.facebook.com/RepayMusic/" target="_blank"><i class="fa fa-facebook-f fa-lg"></i></a>
              <a href="https://twitter.com/repaymusic" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
              <a href="https://repaymusic-slack.herokuapp.com/" target="_blank"><i class="fa fa-slack fa-lg"></i></a>
              <a href="https://github.com/Jelkster/repay_music" target="_blank"><i class="fa fa-github fa-lg"></i></a>
            </div>
          </nav>

          <div class="container">
            <p id="tagline" class="lead">
              A place where fans can make money by recommending music, <br class="hidden-sm-down">
              and artists can get paid for making it.
            </p>
          </div>
        </header>


        <main role="main">
          <div id="yield">
            <%= yield %>
          </div>
        </main>
      </div>

      <footer class="row">
        <div class="copyright col-xs-12 text-xs-center">&copy; <%= local_time(Time.now, '%Y') %> <span class="r">r</span>\m/</div>
      </footer>
    </div>
  </body>
</html>
